@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

html, body {
    font-family: 'Segoe UI', 'Ubuntu', 'Helvetica Neue', 'Oxygen', 'Roboto', 'Open Sans', 'Source Sans Pro', sans-serif;
    font-weight: 400;
    background-color: #141414;
    color: #ffffff;
    font-size: 1rem;
    padding-bottom: 70px; /* Extra padding for bottom bar */
}

#indexDropdown {
    padding-left: 2%;
    width: 10%; /* Make it responsive by setting width to 100% */
    max-width: 10%; /* Add a max-width to prevent it from becoming too wide */
}

.mr-2 {
    margin-right: 10px; /* Small gap between the label and select box */
    margin-bottom: 0.75rem;
}

/* Media query to make the dropdown look better on mobile screens */
@media (max-width: 768px) {
    #indexDropdown {
        max-width: 30%;
        width: 70%; /* Adjust width for mobile to make it fit better */
    }
}
